[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
html5lib = "*"
persiantools = "*"
schedule = "*"
psycopg2-binary = "*"
pytz = "*"
wget = "*"
selenium = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
